
#player-name, #state {
	font-size: 8px;
}

.app {
	padding: 20px;
}

.game-wrapper {
	width: 600px;
	height: 600px;
	background: #eee;
}

.loader {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}